@import url('https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,600,600i,700,700i&display=swap&subset=latin-ext');

.* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
h1 {
  padding: 0;
  margin: 0;
  font-family: "Archivo", "Gothic A1", sans-serif;
}

.page {
  background-image: radial-gradient(circle, #202020 5%, #000000 95%);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.box {
  width: 600px;
  height: 600px;
  border: solid 10px white;
  display: flex;
  z-index: 1;
}

.glitch {
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  z-index: 2;
}
